<body>
  <footer class="footer">
    <div class="left-footer">
      <p>Pro Settings.net</p>
      <a href="https://github.com/arthursmarinho">My Github</a>
      <p>Contact Me:</p>
      <p>marinho.arthur127@gmail.com</p>
    </div>
    <div class="right-footer">
      <p>All Rights Reserved to Arthur Marinho ®</p>
    </div>
  </footer>
</body>