<div>
  <header>
    <nav class="nav">
      <div class="nav-left">
        <a href="/">
          <img src="https://cdn-icons-png.flaticon.com/512/3405/3405846.png" width="50" height="50">
        </a>
      </div>
      <div class="nav-center">
        <a href="/proplayers">Players</a>
        <a href="/teams">Teams</a>
        <a href="/aboutus">About Us</a>
      </div>
      <div class="nav-right">
        <% if (user) { %>
          <span>Bem-vindo, <%= user.username %>!</span>
          <a href="/auth/logout">Sair</a>
          <% } else { %>
            <a href="/auth/login">Login</a>
            <a href="/auth/register">Registrar</a>
            <% } %>
      </div>
    </nav>
  </header>
</div>