<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <p>
    Team Name: <%= team.name %>
  </p>
  <p>
    Team Birth: <%= team.birth %>
  </p>
  <p>
    <img src="<%= team.image %>">
  </p>
  <p>
    History: <%= team.history %>
  </p>
</body>

</html>