<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link href="/style.css" rel="stylesheet">
</head>

<body class="body">
  <div class="main">
    <%- include("partials/header") %>
      <h1>About Us</h1>
      <a href="/">Voltar para Home</a>
      <%- include("partials/footer") %>
  </div>
</body>

</html>