<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%- include("partials/header") %>
    <div class="about">
      <h1>This website is a platform for displaying professional esports players and their respective teams. Users can
        browse through player cards, view team details, and explore the history of each organization. The site is built
        using Node.js, Express, MongoDB, and EJS, with a structured database that connects players to their teams. It
        also features dynamic routing, allowing users to click on a team or player to see detailed information. The goal
        is to provide an interactive and informative experience for esports enthusiasts. 🚀🎮</h1>
    </div>
    <%- include("partials/footer") %>
</body>

</html>