<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%- include("partials/header") %>
    <h1>Login</h1>
    <form action="/auth/login" method="POST">
      <input type="text" name="username" placeholder="Usuário" required>
      <input type="password" name="password" placeholder="Senha" required>
      <button type="submit">Entrar</button>
    </form>
    <a href="/auth/register">Criar conta</a>
    <%- include("partials/footer") %>
</body>

</html>