<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProCounter.net</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body class="body">
  <%- include("partials/header") %>
    <div class="main-text">
      <h1>ProCounter.net is a platform for the Counter-Strike comunnity.</h1>
      <p>Sensibility, history and team details.</p>
      <!-- Add Search Bar -->
    </div>
    <div class="main-buttons-container">
      <a href="/proplayers" class="main-buttons">Players <img src="images/buttonicon.svg"></a>
      <a href="/teams" class="main-buttons">Teams <img src="images/buttonicon.svg"></a>
    </div>
    <%- include("partials/footer") %>
</body>

</html>