<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pro Players</title>
  <link href="/style.css" rel="stylesheet">
</head>

<body class="body">
  <%- include("partials/header") %>
    <%- include("partials/footer") %>
</body>

</html>