<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teams</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body class="body">
  <%- include("partials/header") %>

    <div class="main">

      <h1>Teams</h1>
      <a href="/">
        <ul>Voltar para Home</ul>
      </a>
    </div>
    <%- include("partials/footer") %>

</body>

</html>